
@model Dictionary<string, List<string>>

<div class="accordion" id="accordionFilter">
    <div class="card">
        <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
            <div class="card-body">
                <form method="POST" action="@Url.Action("DisplayData", "DisplayData")">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 mb-3">
                                <h4>@item.Key</h4>
                                <select class="form-select" name="@item.Key" id="@item.Key" aria-label="@item.Key">
                                    <option value="">Select an option</option>
                                    @foreach (string t in item.Value)
                                    {
                                        if (t == "N LL")
                                        {
                                            <option value="@t">NULL</option>
                                        }
                                        else
                                        {
                                            <option value="@t">@t</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    </div>
                    <div class="text-end mt-3">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- New collapse button for Search By ID section -->
    <div class="card">
        <div id="collapseSearchByID" class="collapse" aria-labelledby="headingSearchByID" data-bs-parent="#accordionFilter">
            <div class="card-body">
                <form method="POST" action="@Url.Action("DisplayData", "DisplayData")">
                    <div class="mb-3">
                        <label for="searchInput" class="form-label">Search By ID</label>
                        <input type="text" class="form-control" id="searchInput" name="searchInput"  data-val="true"
                               data-val-regex="The input must be a number with at least 15 digits."
                               data-val-regex-pattern="^\d{15,}$" />
                    </div>
                    <div class="text-end mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="d-flex flex-column">
    <!-- New collapse button toggle for Search By ID section -->
    <button class="btn btn-secondary mb-2 btn-sm ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearchByID" aria-expanded="false" aria-controls="collapseSearchByID">
        <span class="bi bi-search"></span> Search By ID
    </button>

    <!-- Existing collapse button for Filter Options -->
    <button class="btn btn-secondary mb-2 btn-sm ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
        <span class="bi bi-funnel"></span> Filter Options
    </button>
</div>
