
@model Dictionary<string, List<string>>

<div class="accordion" id="accordionFilter">
    <div class="card">
        <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
            <div class="card-body">
                <form method="POST" action="@Url.Action("DisplayData", "DisplayData")">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 mb-3">
                                <h4>@item.Key</h4>
                                <select class="form-select" name="@item.Key" id="@item.Key" aria-label="@item.Key">
                                    <option value="">Select an option</option>
                                    @foreach (string t in item.Value)
                                    {
                                        if (t == "")
                                        {
                                            break;
                                        }
                                        else if (t == "N LL")
                                        {
                                            <option value="@t">NULL</option>
                                        }
                                        {
                                            <option value="@t">@t</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    </div>
                    <div class="text-end mt-3">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-outline-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
    <span class="bi bi-funnel"></span> Filter Options
</button>

