@{

}
<style>
    body {
      padding-top: 150px;
      background-color: #283845;
      color: white;
    }
</style>

<div style="padding-left:50px;">
    <div style="padding-right:50px;">
        <div class="row"  style="padding-bottom: 75px;">
            <form method="post" asp-controller="Crud" asp-action="CreateConfirmed">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2 style="color:white;">Add New Burial:</h2>
                </div>

                @foreach (var property in typeof(Burialmain).GetProperties())
                {
                        @if (@property.Name != "Id")
                        {
                            <div class="form-group">
                                <label asp-for="@property.Name">@property.Name:</label>
                                <input asp-for="@property.Name" name ="@property.Name" value="" type ="@property.PropertyType.Name"class="form-control" />
                            </div>
                        }
                }
                <br />
                <button type="submit" class="btn btn-primary btn-sm float-end">Create entry</button>
            </form>

            <br />
            <br />
        </div>
    </div>
</div>
